.checkout-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  background-color: #f0f0f0;

  &_roomDetails {
    width: 70%;
    height: 725px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    overflow-y: auto;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;

    &_name {
      font-size: 24px;
      margin: 0;
    }

    &_price {
      font-size: 18px;
      margin-top: 5px;
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 10px;
    }

    &_type {
      font-size: 16px;
      margin-top: 5px;
      margin-bottom: 10px;
    }

    &_capacity {
      font-size: 16px;
      margin-top: 5px;
      margin-bottom: 10px;
    }

    &_description {
      font-size: 16px;
      margin-top: 5px;
      margin-bottom: 10px;
    }

    &_img {
      max-width: 100%;
      height: auto;
      margin-top: 10px;
      border-radius: 5px;
    }

    &_loading {
      font-size: 18px;
      margin: 20px 0;
    }

    h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }

  &_customerDetails {
    position: sticky;
    // right: 20px;
    // margin-top: 120px;
    // position: fixed;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 30%;

    &_title {
      font-size: 24px;
      margin-bottom: 20px;
    }

    &_inputSec {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
    }

    &_label {
      font-size: 18px;
      margin-bottom: 5px;
    }

    &_input {
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 16px;
    }
    &_totalPrice {
      font-size: 18px;
      font-weight: bold;
      margin-top: 20px;
    }

    &_buttonSec {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &_button {
        background-color: #aa7938;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;

        &:hover {
          background-color: #7b4804;
        }
      }
    }
  }
}
