.signUp {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  gap: 36px;
  overflow: hidden;
  position: relative;

  &_registerTitle {
    background-color: #ffffff;
    box-shadow: 0px 2px 4px #00000014;
    height: 277px;
    position: relative;
    width: 1440px;

    &_headingJoin {
      color: #aa7938;
      font-family: "Broadway-Regular", Helvetica;
      font-size: 50px;
      font-weight: 400;
      height: 36px;
      left: 639px;
      letter-spacing: 0;
      line-height: 36px;
      position: absolute;
      text-align: center;
      top: 39px;
      white-space: nowrap;
    }
    &_headingToEnjoy {
      color: #333333;
      font-family: "Bubbler One-Regular", Helvetica;
      font-size: 30px;
      font-weight: 400;
      height: 92px;
      left: 272px;
      letter-spacing: 0;
      line-height: 38px;
      position: absolute;
      text-align: center;
      top: 121px;
      width: 895px;
    }
  }

  &_form {
    height: 717.33px;
    position: relative;
    width: 630px;

    &_formGroup-1 {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 10px;
      left: 0;
      padding: 0px 0px 5px;
      position: absolute;
      top: 0;
      width: 630px;

      &_label1 {
        height: 21.27px;
        position: relative;
        width: 630px;
        color: #333333;
        font-family: "Montserrat-Medium", Helvetica;
        font-size: 14px;
        font-weight: 500;
        height: 20px;
        left: 0;
        letter-spacing: 0;
        line-height: 20px;
        position: relative;
        top: -1px;
        white-space: nowrap;
      }
      &_nameInput1 {
        background-color: #ffffff;
        border: 1px solid;
        border-color: #cccccc;
        height: 46px;
        position: relative;
        width: 630px;
      }
    }
    &_formGroup-2 {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 9.99px;
      left: 0;
      padding: 0px 0px 5.01px;
      position: absolute;
      top: 112px;
      width: 630px;

      &_label2 {
        
      }
    }
  }
}
