.signUp {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  gap: 36px;
  overflow: hidden;
  position: relative;

  &_registerTitle {
    background-color: #ffffff;
    box-shadow: 0px 2px 4px #00000014;
    height: 277px;
    position: relative;
    width: 1440px;

    &_headingJoin {
      color: #aa7938;
      font-family: "Broadway-Regular", Helvetica;
      font-size: 50px;
      font-weight: 400;
      height: 36px;
      left: 639px;
      letter-spacing: 0;
      line-height: 36px;
      position: absolute;
      text-align: center;
      top: 39px;
      white-space: nowrap;
    }
    &_headingToEnjoy {
      color: #333333;
      font-family: "Bubbler One-Regular", Helvetica;
      font-size: 30px;
      font-weight: 400;
      height: 92px;
      left: 272px;
      letter-spacing: 0;
      line-height: 38px;
      position: absolute;
      text-align: center;
      top: 121px;
      width: 895px;
    }
  }
}
