.div-rate-card-main {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  min-height: 332px;
  position: relative;
  width: 1280px;
}

.div-rate-card-main .div-rate-card-image {
  align-items: flex-start;
  background-color: #cccccc;
  display: flex;
  position: relative;
  width: 448px;
}

.div-rate-card-main .picture-web {
  height: 339.59px;
  object-fit: cover;
  position: relative;
  width: 448px;
}

.div-rate-card-main .button {
  all: unset;
  align-items: center;
  background-color: #00000073;
  box-sizing: border-box;
  display: flex;
  gap: 13.63px;
  height: 35px;
  left: 18px;
  padding: 0px 5.65px 0px 10px;
  position: absolute;
  top: 287px;
  width: 168px;
}

.div-rate-card-main .lightbox-svg {
  flex: 0 0 auto;
  position: relative;
}

.div-rate-card-main .text-wrapper {
  color: #ffffff;
  font-family: "Calibri-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.6px;
  line-height: 35px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-rate-card-main .div-rate-card {
  align-items: flex-start;
  display: flex;
  padding: 21px 260.91px 65px 23px;
  position: relative;
  width: 832px;
}

.div-rate-card-main .div {
  all: unset;
  align-items: center;
  border: 1px solid;
  border-color: #d29751;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  gap: 2.55px;
  height: 35px;
  left: 24px;
  padding: 7px 19.48px 7px 22.22px;
  position: absolute;
  top: 280px;
  width: 152px;
}

.div-rate-card-main .text-wrapper-2 {
  color: #d29751;
  font-family: "Calibri-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 21px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.div-rate-card-main .icon {
  height: 9.09px;
  position: relative;
  width: 13.75px;
}

.div-rate-card-main .div-rate-card-room {
  height: 253.59px;
  position: relative;
  width: 548.09px;
}

.div-rate-card-main .heading-luxury {
  color: #323232;
  font-family: "Calibri-Bold", Helvetica;
  font-size: 28px;
  font-weight: 700;
  height: 34px;
  left: 0;
  letter-spacing: 0;
  line-height: 33.6px;
  position: absolute;
  top: -2px;
  white-space: nowrap;
}

.div-rate-card-main .p {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 2px;
  left: 0;
  padding: 0px 36.47px 2px 0px;
  position: absolute;
  top: 42px;
}

.div-rate-card-main .elegant-and-warm {
  color: #4a4a4a;
  font-family: "Calibri-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.div-rate-card-main .button-show-more {
  color: #d29751;
  font-family: "Calibri-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 16px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-rate-card-main .div-row {
  height: 132px;
  left: 0;
  position: absolute;
  top: 122px;
  width: 548px;
}

.div-rate-card-main .overlap-group {
  height: 69px;
  left: 0;
  position: absolute;
  top: -1px;
  width: 274px;
}

.div-rate-card-main .div-col-margin {
  align-items: flex-start;
  display: flex;
  left: 0;
  max-width: 274.05px;
  min-height: 21px;
  padding: 0px 0px 20px 0px;
  position: absolute;
  top: 0;
  width: 274px;
}

.div-rate-card-main .div-col {
  align-items: flex-end;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  max-width: 274.05px;
  min-height: 1px;
  padding: 0px 177.05px 0px 0px;
  position: relative;
}

.div-rate-card-main .div-image-container {
  align-items: flex-start;
  display: flex;
  padding: 2.29px 0px 1.71px;
  position: relative;
  width: 30px;
}

.div-rate-card-main .img {
  height: 20px;
  position: relative;
  width: 30px;
}

.div-rate-card-main .span-room-selling {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  margin-right: -0.01px;
  padding: 0px 0px 5px;
  position: relative;
}

.div-rate-card-main .text-wrapper-3 {
  color: #333333;
  font-family: "Calibri-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19.2px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-rate-card-main .div-col-2 {
  align-items: flex-end;
  display: flex;
  gap: 10px;
  left: 0;
  max-width: 274.05px;
  min-height: 1px;
  padding: 0px 158.05px 0px 0px;
  position: absolute;
  top: 44px;
  width: 274px;
}

.div-rate-card-main .div-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 0px 0px 5px;
  position: relative;
}

.div-rate-card-main .div-col-wrapper {
  align-items: flex-start;
  display: flex;
  left: 274px;
  max-width: 274.05px;
  min-height: 21px;
  padding: 0px 0px 20px 0px;
  position: absolute;
  top: -1px;
  width: 274px;
}

.div-rate-card-main .div-col-3 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  max-width: 274.05px;
  min-height: 1px;
  padding: 0px 125.05px 0px 16px;
  position: relative;
}

.div-rate-card-main .div-room-property-wrapper {
  align-items: flex-start;
  display: flex;
  left: 0;
  max-width: 548.09px;
  min-height: 1px;
  padding: 12px 0px 24px;
  position: absolute;
  top: 68px;
  width: 548px;
}

.div-rate-card-main .div-room-property {
  align-items: flex-start;
  display: flex;
  gap: 23.63px;
  padding: 0px 0px 8px;
  position: relative;
  width: 548.09px;
}

.div-rate-card-main .star-png {
  height: 20px;
  position: relative;
  width: 20px;
}

.div-rate-card-main .div-room-rate-wrap {
  height: 155px;
  left: 613px;
  position: absolute;
  top: 160px;
  width: 194px;
}

.div-rate-card-main .overlap {
  height: 71px;
  left: 70px;
  position: absolute;
  top: 0;
  width: 135px;
}

.div-rate-card-main .div-rate-card-actual {
  height: 48px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 125px;
}

.div-rate-card-main .text-wrapper-4 {
  color: #4a4a4a;
  font-family: "Calibri-Bold", Helvetica;
  font-size: 30px;
  font-weight: 700;
  height: 45px;
  left: 44px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  text-align: right;
  top: 2px;
  white-space: nowrap;
}

.div-rate-card-main .text-wrapper-5 {
  color: #4a4a4a;
  font-family: "Calibri-Bold", Helvetica;
  font-size: 30px;
  font-weight: 700;
  height: 45px;
  left: 62px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  text-align: right;
  top: 2px;
  white-space: nowrap;
}

.div-rate-card-main .text-wrapper-6 {
  color: #4a4a4a;
  font-family: "Calibri-Bold", Helvetica;
  font-size: 30px;
  font-weight: 700;
  height: 45px;
  left: 110px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  text-align: right;
  top: 2px;
  white-space: nowrap;
}

.div-rate-card-main .text-wrapper-7 {
  color: #9b9b9b;
  font-family: "Calibri-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 24px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: right;
  top: 47px;
  white-space: nowrap;
}

.div-rate-card-main .div-rate-card-2 {
  align-items: center;
  display: flex;
  gap: 13.65px;
  justify-content: flex-end;
  left: 0;
  position: absolute;
  top: 72px;
  width: 194px;
}

.div-rate-card-main .last-room-svg {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  margin-left: -0.2px;
  position: relative;
}

.div-rate-card-main .group-wrapper {
  height: 12px;
  overflow: hidden;
  position: relative;
  width: 22px;
}

.div-rate-card-main .group {
  height: 17px;
  position: relative;
  top: -5px;
  width: 173px;
}

.div-rate-card-main .text-wrapper-8 {
  color: #d0021b;
  font-family: "Calibri-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 31px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.div-rate-card-main .vector {
  height: 12px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 21px;
}

.div-rate-card-main .text-wrapper-9 {
  color: #d0021b;
  font-family: "Calibri-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.div-rate-card-main .button-2 {
  all: unset;
  background-color: #aa7938;
  border-radius: 3px;
  box-sizing: border-box;
  height: 35px;
  left: 28px;
  position: absolute;
  top: 120px;
  width: 166px;
}

.div-rate-card-main .text-wrapper-10 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 13.6px;
  font-weight: 400;
  height: 21px;
  left: 29px;
  letter-spacing: 0.5px;
  line-height: 20.4px;
  position: absolute;
  text-align: center;
  top: 5px;
  white-space: nowrap;
}

.div-rate-card-main .icon-2 {
  height: 12px;
  left: 121px;
  position: absolute;
  top: 10px;
  width: 17px;
}
