.nav {
  align-items: flex-start;
  display: inline-flex;
  position: relative;
}

.nav .link {
  background-color: #ffffff;
  border-color: #e2e2e2;
  border-radius: 2px 0px 0px 2px;
  border-right-style: solid;
  border-right-width: 1px;
  height: 40px;
  position: relative;
  width: 128.09px;
}

.nav .text-wrapper {
  color: #4a4a4a;
  font-family: "Calibri-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 15px;
  left: 37px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: 54px;
}

.nav .div {
  background: linear-gradient(
    180deg,
    rgba(210, 151, 81, 0.8) 0%,
    rgb(210, 151, 81) 49%,
    rgb(170, 121, 56) 100%
  );
  border-color: #e2e2e2;
  border-right-style: solid;
  border-right-width: 1px;
  height: 40px;
  position: relative;
  width: 128.09px;
}

.nav .text-wrapper-2 {
  color: #ffffff;
  font-family: "Calibri-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 15px;
  left: 25px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: 77px;
}

.nav .pseudo {
  border-color: #aa7938;
  border-left-style: solid;
  border-left-width: 6px;
  border-right-style: solid;
  border-right-width: 6px;
  border-top-style: solid;
  border-top-width: 5px;
  height: 5px;
  left: 59px;
  position: absolute;
  top: 40px;
  width: 12px;
}

.nav .div-wrapper {
  background-color: #ffffff;
  border-color: #e2e2e2;
  border-right-style: solid;
  border-right-width: 1px;
  height: 40px;
  position: relative;
  width: 128.09px;
}

.nav .text-wrapper-3 {
  color: #4a4a4a;
  font-family: "Calibri-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 15px;
  left: 45px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: 37px;
}

.nav .text-wrapper-4 {
  color: #4a4a4a;
  font-family: "Calibri-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 15px;
  left: 46px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: 34px;
}

.nav .text-wrapper-5 {
  color: #4a4a4a;
  font-family: "Calibri-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 15px;
  left: 30px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: 68px;
}
