.offers_contentContainer{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
   
}

.offers_contentHeading1{
    text-align: center;
    padding: 10px ;
    margin-bottom: 5px;
    color: #d29751;
}


.offers_contentHeading2{
    text-align: left;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 10px ;
    margin-bottom: 5px;
    margin-right: 10px;
    color: #492902;
}


.offers_contentHeading3{
    text-align:center;
    font-weight: 600;
    font-style: italic;
    padding: 10px ;
    margin-bottom: 5px;
    margin-top: 20px;
    color: #080808;
}


.offers_contentparagraph{
    text-align:justify;
    padding: 10px ;
    margin-bottom: 5px;
    margin-right: 15px;
    color: #0d0d0d;
}

.offers_Container{
    margin-left: 8%;
    margin-right:8%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;

}

.offers_update{
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid #d29751;
}

.offers_details{
    display: grid;
    grid-template-columns: 200px 1fr;
    margin-right: 30px;
    margin-left: 30px;
    text-align: left;
   
}
